image: node:22.12

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - cd frontend/vue-project
    - npm install
    - npm run build

docker-build-push:
  image: docker:25.0.3
  stage: build
  services:
    - docker:25.0.3-dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    # frontend image
    - docker build -t "$CI_REGISTRY_IMAGE/frontend:latest" frontend/vue-project
    - docker push "$CI_REGISTRY_IMAGE/frontend:latest"
    # backend image
    - docker build -t "$CI_REGISTRY_IMAGE/backend:latest" backend
    - docker push "$CI_REGISTRY_IMAGE/backend:latest"

backend-test:
  image: python:3.11
  stage: test
  script:
    - cd backend
    - python -m venv .venv
    - pip install -r requirements.txt
    - python -m pytest

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production
