/* toast docs from https://primevue.org/toast */

.p-toast {
    position: fixed;
    z-index: 1100;
}

.p-toast-message {
    --bc: #000;
    --bg: #fff6;
    --tc: #2b2b2b;
    --ic: #000;
    --cc: #000;

    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 8px !important;
    border-width: 1px !important;

    border-color: var( --bc ) !important;
    background-color: var( --bg ) !important;
    color: var( --tc ) !important;
    box-shadow: 0 2px 12px rgba( 0, 0, 0, 0.15 ) !important;
    /* todo: icon color & close color */

    transition: inherit, margin-bottom .25s ease-out !important;

    backdrop-filter: blur( 10px ) !important;

    max-width: clamp( 200px, 90vw, 400px ) !important;

    .p-toast-message-content {
        gap: 6px;
        align-items: baseline;
        width: 100%;
    }

    .p-toast-message-icon:not( :empty ) {
        stroke: var( --ic ) !important;
        width: 16px;
        stroke-width: .5px !important;
    }

    .p-toast-summary {
        font-weight: 600;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
    }

    .p-toast-close-button {
        padding-right: .5rem;
    }

    .p-toast-detail {
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    &:is( .p-toast-message-warn ) {
        --bc: #eabd2980;
        --bg: rgba(255, 227, 189, 0.25);
        --ic: #eabd29;
    }

    &:is( .p-toast-message-info ) {
        --bc: #29b6f680;
        --bg: rgba(173, 216, 230, 0.25);
        --ic: #29b6f6;
    }

    &:is( .p-toast-message-success ) {
        --bc: #66bb6a;
        --bg: rgba(200, 230, 201, 0.25);
        --ic: #66bb6a;
    }

    &:is( .p-toast-message-error ) {
        --bc: #ef535080;
        --bg: rgba(255, 205, 210, 0.25);
        --ic: #ef5350;
    }

    &:is( .p-toast-message-secondary ) {
        --bc: #9e9e9e80;
        --bg: rgba(224, 224, 224, 0.25);
        --ic: #9e9e9e;
    }
}