@import './base.css';
@import "./reset.css";
@import "./generic-styles/input.css";
@import "./generic-styles/toast.css";

/* tailwindcss directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-main-bg;
}

#app {
    display: grid;
    inset: 0;
    grid-template-areas:
        "nav" "view";

    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

    height: 100vh;
    /* mobiles have "dynamic" view height due to their navbar hiding/showing */
    /* if dvh doesnt work, we automatically fallback to vh */
    height: 100dvh;

    /* 2nd child is the view content, we dont want to scroll with sidebar */
    & > :nth-child( 2 ) {
        overflow: scroll;
    }

    /* doesnt have 2 direct children -> nav doest exists (only conditional container inside parent) */
    &:not(:has(> :nth-child(2))) {
        grid-template-areas:
            "view";
        grid-template-columns: 1fr;
    }
}

#app:has( #collapseCheckbox:checked ) {
    grid-template-columns: 60px 1fr;
    & #collapse {
        svg {
            rotate: 180deg;
        }
    }
}

button:disabled {
    cursor: not-allowed;
}