@import './base.css';
@import "./reset.css";

/* tailwindcss directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: grid;
    inset: 0;
    grid-template-areas:
        "nav" "view";

    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

    height: 100vh;
    /* mobiles have "dynamic" view height due to their navbar hiding/showing */
    /* if dvh doesnt work, we automatically fallback to vh */
    height: 100dvh;

    /* 2nd child is the view content, we dont want to scroll with sidebar */
    & :nth-child( 2 ) {
        overflow: hidden; /*if show then everything has a sidebar */
    }
}

button:disabled {
    cursor: not-allowed;
}